.about-me {
}
.about-me__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 64px 0;
    @media(max-width: 768px){
        flex-direction: column;
    }
}
.about-me__text{
    font-size: 24px;
    max-width: 904px;
    @media(max-width: 768px){
        text-align: center;
    }

}