@use '../base/vars' as *;
@use '../base/mixin' as *;

.header {
    padding: 20.5px 0;
    @media (max-width: 768px) {
        padding: 16px 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
    }

    @media (max-width: 525px) {
        flex-direction: row;
    }
}
.logotype {
    width: 146px;
    z-index: 1;
}
.logotype__image {
    object-fit: cover;
    width: 100%;
}
.menu {
    @media (max-width: 525px) {
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $bg-body;
        transition: top 0.3s;

    }
}
.menu.open{
    top:0;
}
.menu__list {
    display: flex;
    gap: 64px;

    @media (max-width: 525px) {
        flex-direction: column;
        height:100vh;
        align-items: center;
        justify-content: center;
    }
}
.menu__item {
}
.link-anchor {
    text-decoration: none;
    color:$text-color;
    font-weight: bold;
    font-size: 20px;

    &:hover {
        @include color-hover($context-color)
    }
}
