.projects {
}

.projects__content {
    padding: 64px 0;
    .common-tittle {
        text-align: center;
        margin-bottom:32px;
    }

}
.projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.projects-list__item {
}
.project-card {
}
.project-card__info {
}
.project-card__image {
    width: 320px;
    height: 320px;

    
}