@use"../base/vars" as *;
@use "../base/animation" as *;
.animated-block {
    width: 101px;
    height: 101px;
    position: relative;
    flex-shrink: 0;
    &__item{
        width: 72px;
        height: 72px;
        border-radius: 29% 71% 83% 17% / 75% 83% 17% 25% ;
        position:absolute;
        top: 50%;
        left: 50%;
    }

    &--one{
        background-color: $text-color-transparent;
        transform: translate(-50%,-50%) rotate(45deg);
        animation: rotate-avatar 4s linear infinite;
        backdrop-filter: blur(5px);
        filter: blur(2.5px);
    }

    &--two{
        background-color: $context-color-transparent;
        transform: translate(-50%,-50%) rotate(45deg);
        animation: rotate-avatar 8s ease-in-out infinite;
        backdrop-filter: blur(5px);
        filter: blur(2.5px);
    }
}

