@use"../base/vars" as *;
.review-slider{
    max-width: 80%;
    margin: 0 auto;
    position: relative;

}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 32px;
    height: 32px;
    border: none;
    background-color:transparent;
    cursor:pointer;
    @media (max-width:768px) {
        display: none !important;
    }

}

.slick-next{
    right: -50px;
    background-image: url("../../img/arrow-right.svg");
}

.slick-prev{
    left: -50px;
    background-image: url("../../img/arrow-left.svg");

}

.slick-list{
    overflow: hidden;

}

.slick-track{
    display: flex;

}

.slick-slide{
    background-color: #0f0f0f;
}

.slick-dots{
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -20px;
    gap: 5px;

    button{
        background-color: transparent;
        cursor: pointer;
        font-size: 0; 
        border: 3px solid $text-color;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        transition: 0.3s;
        &:hover{
            border-color: $context-color;
        }
    }
    .slick-active{
        button{
            border-color: $context-color;
            transform: scale(1.2);
        }
    }
}
