$bg-body: #1b1a17;
$bg-card: #1f1e1b;
$context-color: #00ff8c;
$context-color-transparent: #00ff8cbe;
$text-color:#f0e3ca;
$text-color-transparent:#f0e3ca9b;
$js-color:#FFDF00;
$css-color:#2196F4;
$git-color:#F25234;
$html-color:#FC490B;
$scss-color:#CA669B;
$python-top-color:#1565A7;
$python-bottom-color:#F9C600;
$grey-transparent:rgba(33, 32, 29, 0.95);
$bg-btn:#32312E;